
{
  "presets": [ "next/babel", "@zeit/next-typescript/babel" ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@components": "./components",
        "@models": "./models",
        "@icons": "./assets/icons",
        "@views": "./views"
      }
    }]
  ]
}