$layout-min-width-medium: 1268px;
$layout-min-width-small: 600px;
$layout-min-width-tiny: 300px;
$desktop-width: 1268px;
$tablet-width: 600px;
$phone-width: 300px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media 
    (min-width: #{$tablet-width}) and 
    (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media 
    (min-width: #{$phone-width }) and 
    (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin layout {
  @include desktop() { 
    width: $layout-min-width-medium;
  }

  @include tablet() { 
    width: $layout-min-width-small;
  }

  @include phone() { 
    width: $layout-min-width-tiny;
  }

  margin: 0 auto;  
  overflow: hidden;
}